:root {
  /*em caso de duvida ver explicacao na stylesheet do /public */
--text: #070b0b;
  --background: #FAF9F6;
  --primary: #0f6e56;
  --secondary: #5dcaa5;
  --accent: #d97a4a;

  --bs-primary: var(--primary);
  --bs-primary-rgb: 15, 110, 86;
  --bs-secondary: var(--secondary);
  --bs-body-bg: var(--background);
  --bs-body-color: var(--text);
}

.btn-primary {
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-bg: var(--accent);
  --bs-btn-hover-border-color: var(--accent);
  --bs-btn-active-bg: var(--accent);
  --bs-btn-active-border-color: var(--accent);
}

.btn-outline-primary {
  --bs-btn-border-color: var(--primary);
  --bs-btn-color: var(--primary);
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
}

body {
  overflow-x: hidden;
}

#top-navbar {
  height: 60px;
  z-index: 1030;
}

#menu-toggle {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  user-select: none;
}

#menu-toggle:hover {
  opacity: 0.75;
}

#wrapper {
  display: flex;
  width: 100%;
  margin-top: 60px;
}

#sidebar-wrapper {
  min-width: 250px;
  max-width: 250px;
  background-color: var(--bs-secondary);
  height: calc(100vh - 60px);
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 1000;
  transition: margin 0.25s ease-out;
  overflow-y: auto;
}

#sidebar-wrapper.collapsed {
  margin-left: -250px;
}

#page-content-wrapper {
  width: 100%;
  padding: 20px;
  margin-left: 250px;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper.collapsed~#page-content-wrapper {
  margin-left: 0;
}

#sidebar-wrapper .list-group-item {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  text-align: center;
  font-size: 1.1rem;
}

#sidebar-wrapper .list-group-item.active {
  background-color: var(--accent);
  color: #fff;
  border: none;
  text-align: center;
  font-size: 1.1rem;
}